.text{
    color: black;
    font-size: small;
    // font-family: 'Courier New', Courier, monospace;

}


.galery-description{
    margin: 1rem;
}

.video-container{
    width: 100%;
}

.video{
    width: 100%;
}

.header-sect{
    margin: 1rem;
}



.Feature-div{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
    align-items: center;

    &__section{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 3.8125rem;
        padding: 0 2rem;
        margin: 1rem;
        justify-content: space-between;
        align-items: center;
        color: black;
        flex-shrink: 0;
        border-radius: 0.1875rem;
        border: 1px solid #265CD4;
        background: #EDEEF2;
    }

    &__subtitle{
        color: #265CD4;
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        white-space: nowrap; 
    }

    &__section{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 3.8125rem;
        padding: 0 2rem;
        margin: 1rem;
        justify-content: space-between;
        align-items: center;
        color: black;
    }
    &__arrow-icon{
        position: relative;
        left: 1rem;
    }




    &__book-butt{
        width: 8    rem;
        display: inline-flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.1875rem;
        background: #FFB800;
        margin: 1rem;
    }
}