@font-face {
    font-family: 'proxima';
    src: url("../Fonts/ProximaNova-Regular.ttf") format("opentype");
    font-weight: 400;
    font-style: regular;
  }
  
  @font-face {
    font-family: 'proxima';
    src: url("../Fonts/ProximaNova-Semibold.ttf") format("opentype");
    font-weight: bold;
    font-style: semi-bold;
  }

  @font-face {
    font-family: 'Kapra';
    src: url("../Fonts/Kapra-Regular.otf") format("opentype"); 
  }