@use '../../styles/typography' as *;
* {
    font-family: proxima;
}
.activities-title{
    color: #15264C;
font-family: Kapra;
font-size: 34px;
font-style: normal;
line-height: normal;
text-transform: uppercase;
margin: 43px 40px;
text-align: center;
margin-bottom: 26px;
}
.activities-subtitle{
    color: #1E1E1E;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 21px; /* 116.667% */
letter-spacing: -0.32px;
}

.activities-img{
    margin: 16px 32px;
    height: 314px;
}

.activities-paragraph{
    color: #000;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 131.25% */
letter-spacing: -0.32px;
margin: 43px;
margin: 16px 62px;
}

.activities-paragraph2{
    color: #1E1E1E;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 21px; /* 116.667% */
letter-spacing: -0.32px;
text-transform: uppercase;

}

.activities-img2{
    margin: 16px;
    height: 179px;
    margin-bottom: 0;

}

.activities-paragraph3{
    color: #1E1E1E;
text-align: center;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 21px; /* 116.667% */
letter-spacing: -0.32px;
text-transform: uppercase;
}

.activities-img3{
    margin: 16px;
    margin-bottom: 0;
    height: 183px;
}

.activities-paragraph4{
    color: #000;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 131.25% */
letter-spacing: -0.32px;
margin: 23px;
margin: 16px 62px;
}

.activities-button{
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.63px;
background: #265CD4;
width: 173px;
height: 46px;
flex-shrink: 0;
border: none;
margin: 10px 110px;
}