@use '../../styles/typography' as *;

*{
  font-family: proxima;
  margin: 0;
  padding: 0;
}

.hero {


  &__video {
    width: 100%;
  }
}

.booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65vw;
  padding: 0rem 1rem;
  align-items: center;


  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0rem;
    background-color: white;
    border-radius: 10px;
    height: 50%;
    width: 90%;
    position: absolute;
    z-index: 1;
    top: 12.5rem;

  }

  &__heading {
    font-size: 2rem;
    font-weight: bold;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
    width: 85%;
  }

  &__destination {
    color: #265CD4 ;
    border: 1px solid #BDBDBD;
    border-radius: .25rem;
    height: 25%;
    width: 100%;
    padding: 0rem 1rem;
  }

  &__port {
    color: #265CD4 ;
    border: 1px solid #BDBDBD;
    border-radius: .25rem;
    height: 25%;
    width: 100%;
    padding: 0rem 1rem;
  }

  &__date {
    color: #265CD4 ;
    padding: 0rem 1rem;
    border: 1px solid #BDBDBD;
    border-radius: .25rem;
    height: 25%;
    font-family: sans-serif;
  }

  &__button {
    color: white;
    background-color: #265CD4 ;
    height: 15%;
    width: 50%;
    border: none;
  }
}
